* {
    font-family: roboto, sans-serif;
    color: #E5E7EB;
    font-size: 18px;
}

body {
    margin: 0;
}

h1 {
    font-size:48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 0;
}

button {
    background-color:#3882F6;
    border-radius: 5px;
    font-weight: bold;
    padding: 8px 32px;
    color: #E5E7EB;

}

ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    gap: 25px;
}

img {
    object-fit: cover;
    object-position: -20% -20%;
    max-width: 37.5vw;
    max-height: 400px;
    overflow:hidden;
}

.top-section {
    background: #1f2937;
    display:flex;
    flex-direction: column;
    padding: 0 10vw;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

.top-content {
    display: flex;
    margin: 150px auto;
    gap: 50px;
}

.top-content-left {
    display: flex;
    flex-direction: column;
    gap:10px;
    max-width: 37.5vw;
}

.quote-content {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 0 20vw;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding-top: 200px;
}

.quote-sayer {
    font-weight: 900;
    color: #1F2937;
    align-self: flex-end;
    font-size:24px;
    padding-bottom: 150px;
}

.cta-box {
    background-color:#3882F6;
    padding: 24px 36px;
    margin: 100px 10vw;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 50px 10vw;

}

.cta-button {
    border: 1px solid #E5E7EB;
}

.cta-header {
    font-size: 24px;
    font-weight:bold;
}
